body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}

nav a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

main {
    max-width: 80%;
    margin: 0 auto;
}
.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo {
    width: 100px; /* Ajusta el tamaño según sea necesario */
    height: auto;
    position: absolute;
    margin-top: -60px;
    margin-left: 40px;
}

.logo-container h1 {
    color: white;
    font-size: 1.2em;
    margin: 0;
}

.receta {
    border: 1px solid #ddd;
    padding: 20px;
    margin: 20px 0;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.receta-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #eee;
    border-radius: 5px;
    margin-bottom: 15px;
    gap: 10px;
}
.receta-nombre {
    flex: 1;
    font-size: 1.5em;
    color: #333;
    margin: 0;
}

.receta-imagen img{
    width: 150px;
    height: auto;
    border-radius: 5px;
    float: right;
}
.receta h3 {
    color: #333;
    margin-top: 0;
}

.receta h4 {
    color: #666;
    margin-top: 20px;
}

.historia {
    display: flex;
    gap: 20px;
    align-items: flex-start;
}

.historia-texto {
    flex: 2;
}

.historia-imagen img{
    flex: 1;
    max-width: 50%;
    height: auto;
    border-radius: 5px;
}

ul, ol {
    margin-left: 20px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}
