/* Estilos básicos */
body {
    font-family: Arial, sans-serif;
}

header, footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}

header {
    margin-bottom: 20px;
}

nav a, .boton {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

nav a:hover, .boton:hover {
    text-decoration: underline;
}

main {
    max-width: 80%;
    margin: 0 auto;
}

/* Contenedor general del encabezado */
.header-content, .botones-navegacion {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    max-width: 1200px;
    margin: 0 auto;
}

/* Logo en el encabezado */
.logo-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo {
    width: 100px;
    margin: -60px 0 0 40px;
}

/* Titulares */
h1, h2, h3 {
    color: #333;
    margin: 0 0 10px;
}

.intro p, .mision p, .valores ul, .evento p {
    line-height: 1.6;
    color: #555;
}

/* Secciones principales con imagen */
.intro, .mision, .valores, .evento, .historia, .formulario-contacto {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.historia {
    display: flex;
    gap: 20px;
}

/* Imagen en secciones */
.sociedad-img, .evento-img, .historia-imagen {
    width: 100%;
    max-width: 50%;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Recetas */
.receta {
    border: 1px solid #ddd;
    margin: 20px 0;
}

.receta-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #eee;
    border-radius: 5px;
    padding: 10px;
}

.receta-nombre {
    font-size: 1.5em;
    color: #333;
}

.receta-imagen img {
    width: 150px;
    border-radius: 5px;
}

/* Formularios */
.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-group input, .form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.sexo-opciones {
    display: flex;
    gap: 55px;
    align-items: center;
}

/* Botones */
.boton, button {
    padding: 10px 20px;
    background-color: #333;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    border: none;
    font-size: 1em;
    margin-top: 20px;
}

.boton:hover, button:hover {
    background-color: #555;
}
